<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Katalog Makanan Terbaik untuk Anda">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <meta name="theme-color" content="#DB0000"/>
 
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Katalog WarEgg</title>
</head>
<body>
  <a href="#main-content" class="skip-link">Skip to Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
        <h1><a href="#/home" class="app-bar__home-link">Katalog WarEgg</a></h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.instagram.com/muhhanif667/" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent">
  </main>
  <footer>
    <p>Copyright © 2023 - Katalog WarEgg</p>
  </footer>
  <button id="scrollToTopBtn" title="Scroll to top" style="display: none;">
    <i class="fa fa-chevron-up"></i> 
  </button>
</body>
</html>